
html {
  font-size: 18px;
  margin: 1rem;
}

/*div {
  border: 1px solid black;
}*/


.content {
  max-width: 1600px;
  margin: 0 auto;

}


h1 {
  font-size: 2.5rem;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bold;
  color: white;

}

.header {
  display: inline-flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}


nav.nav {
  display: inline-block;
  /*border: 1px solid black;*/
}

ul {
  list-style-type: none;
  margin-top: 1rem;
  padding: 0;
}

.nav li {
  display: inline;
}

.site-title {
  display: inline-block;
  width: 650px;
  font-family: 'Julius Sans One', sans-serif;
  color: darkgray;
}

.site-title h2 {
  line-height: 4rem;
}

.nav a {
  text-decoration: none;
  font-size: 1rem;
  font-family: 'Julius Sans One', sans-serif;
  color: darkgrey;
  border-radius: 5px;
  margin-left: 1rem;
  padding: 0.8rem;

}

.nav a:hover {
  text-decoration: none;
  font-size: 1rem;
  border: 1px solid darkgrey;
  border-radius: 15px;
  color: darkgrey;
  transition: 0.5s;

}

.nav a.active {
  text-decoration: none;
  font-size: 1rem;
  background-color: rgb(106, 170, 210);
  color: white;
  border-radius: 15px;
}

.banner {
  background-image: url("../images/hero-design-image.png");
  background-size: cover;
  width: 100%;
  padding: 20rem 5rem;
  top: 6rem;
}

.portfolio-banner {
    background-image: url("../images/hero-design-image.png");
    background-size: cover;
    width: 100%;
    padding: 3rem;
    top: 6rem;
}

.tagline {
  max-width: 60rem;
  margin: auto;
  height: 30%;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  color: white;
  padding: 2rem;
  border-radius: 15px;
  background-color: rgba(106, 170, 210, 0.82);
}

.small-text {
  line-height: 1.1rem;
  margin-top: 1.5rem;
}

.home-button button {
  padding: 0.5rem;
  font-size: 1.2rem;
  margin: 0.5rem auto;
  width: 10rem;
  font-family: 'Julius Sans One', sans-serif;
  background-color: white;
  color: rgba(106, 170, 210, 0.82);
  border-radius: 20px;
  border: 2px solid rgb(255, 255, 255);
  border-style: none;
}

.home-button button:hover {
  background-color: rgba(106, 170, 210, 0.82);
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
}



.jumbotron img {
  max-height: 30rem;
  object-fit: contain;
  margin: auto;
  padding: 0;

}

.jumbotron.slick-slide {
  margin: 0;
}

.jumbotron {
  background-color: rgba(106, 170, 210, 0);
  padding: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}



.info-container {
  max-width: 75rem;
  max-height: 65rem;
  margin: 2rem auto;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  color: black;
  padding: 1rem;
  border-radius: 15px;
  background-color: rgba(106, 170, 210, 0.5);
}

.info-container h1 {
  color: black;
  font-size: 1.2rem;
}

.info-container p {
  font-family: 'Lato', sans-serif;
  text-align: left;
  line-height: 1.5rem;
  margin: 1rem auto;
}

.extras-container {
  max-width: 75rem;
  margin: 0 auto;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  color: black;
  padding: 2rem;
  border-radius: 15px;
  background-color: white;
  opacity: 0.8;
}

.extras-container h1 {
  color: black;
}

.extras-container p {
  font-family: 'Lato', sans-serif;
  max-width: 60%;
  text-align: left;
  line-height: 1.5rem;
  margin: 1rem auto;
}

.portfolio-text  {
  text-align: left;
  background-color: white;
  margin: 2rem 0 0 0;
  padding: 1rem;
  border-radius: 10px;
  max-height: 40rem;
}

.portfolio-text h1,
.portfolio-text p {
  text-align: left;
  padding-left: 0;
  margin-left: 0;
  font-size: 0.75rem;
  width: 100%;
}


button {
  padding: 0.1rem;
  font-size: 1rem;
  margin: 0.5rem auto;
  width: 12rem;
  font-family: 'Julius Sans One', sans-serif;
  background-color: rgba(106, 170, 210, 0.82);
  color: rgb(255, 255, 255);
  border-radius: 20px;
  border: 1px solid rgba(106, 170, 210, 0.82);
  border-style: none;
}

.portfolio-button button {
  padding: 0.1rem;
  font-size: 0.75rem;
  margin: 0.5rem auto;
  width: 15rem;
  font-family: 'Julius Sans One', sans-serif;
  background-color: rgba(106, 170, 210, 0.82);
  color: rgb(255, 255, 255);
  border-radius: 20px;
  border: 1px solid white;
  border-style: none;
}

button:hover {
  background-color: rgb(255, 255, 255);
  color: rgba(106, 170, 210, 0.82);
  border: 1px solid rgba(106, 170, 210, 0.82);
  transition: 0.5s;
}



a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:hover {
  color: rgba(106, 170, 210, 0.82);
}


/*footer*/

.footer {
  background-color: rgba(106, 170, 210, 0.82);
}

.footer p {
  padding: 2rem 1rem;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 0.7rem;
  font-weight: bold;
}

/* Responsive */
@media screen and (min-width: 1441px) {

}





@media only screen and (max-width: 1440px) and (min-width: 1051px){


.banner {
  padding: 18rem 4rem;
}


  .extras-container {
      max-width: 40rem;
      margin: auto;


}
}

@media only screen and (max-width: 1099px) {

        .jumbotron img {
        max-height: 20rem;
        }

}



@media only screen and (max-width: 1050px) and (min-width: 769px) {

  .banner {
    padding: 15rem 4rem;
  }

  .site-title {
    width: 400px;

  }

  .extras-container {
        margin: auto;

  }

  .nav a {
    margin-left: 1rem;
    margin-right: 0;
    padding: 0.2rem;
  }

}

@media only screen and (max-width: 768px) {

.tagline h1 {
  font-size: 2.1rem;
  }

.tagline h3 {
  font-size: 1.5rem;
}
}

@media only screen and (max-width: 768px) and (min-width: 415px) {

  .banner {
    padding: 11rem 2rem;
  }

  .site-title {
    width: 400px;

  }

  .site-title h2 {
       line-height: 1.8rem;
       font-size: 1.8rem;

 }

  .nav {
    width: 350px;
  }

  .nav a {
    margin-left: 1rem;
    margin-right: 0;
    padding: 0.2rem;
  }


          .jumbotron img {
          max-height: 15rem;
          }

    .portfolio-banner {
      margin: 0;
    }

    .info-container {
      margin: 0;
    }

    .portfolio-text p {
      font-size: 0.75rem;
      line-height: 1rem;
    }

  .extras-container p {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    max-width: 100%;
    text-align: center;
    line-height: 1.2rem;
    padding: 1rem 1rem 0 1rem;

  }

  .extras-container h1 {
    font-size: 1.8rem;
  }


}

@media only screen and (max-width: 700px) and (min-width: 543px) {

            .jumbotron img {
            max-height: 10rem;
            }



}

@media only screen and (max-width: 542px) and (min-width: 415px) {

            .jumbotron img {
            max-height: 9rem;
            }

            .portfolio-button button {
              padding: 0.5rem;
              font-size: 0.75rem;
              margin: 0.5rem auto;
              width: 9rem;
            }

}



@media only screen and (max-width: 414px) /*and (min-width: 376px)*/ {

  .content {
      max-width: 414px;
      margin: 0 1rem;

}

 .site-title h2 {
      line-height: 1.8rem;
      font-size: 1.8rem;

}



.nav a {
  border-radius: 1px;
  margin-left: 1.5rem;
  padding: 0.2rem;

}

.nav a:hover {
  font-size: 1rem;
  border: none;
  color: rgba(106, 170, 210, 0.82);
  font-weight: 700;
  transition: 0.3s

}


.extras-container {
    max-width: 280px;
    min-width: 280px;
    margin: 2rem auto;
    padding: 1rem 0;

}

.extras-container p {
  font-family: 'Lato', sans-serif;
  font-size: 0.8rem;
  max-width: 100%;
  text-align: center;
  line-height: 1.1rem;
  padding: 1rem 1rem 0 1rem;

}

.extras-container h1 {
  font-size: 1.5rem;
}

.footer p {
  padding: 1rem;

}


/*}

@media only screen and (max-width: 375px){

  .content {
      max-width: 350px;

}*/



  .site-title h2 {
      line-height: 1.8rem;
      font-size: 1.8rem;

}

.nav a {
  border-radius: 1px;
  margin-left: 1.5rem;
  padding: 0.2rem;

}

.nav a:hover {
  font-size: 1rem;
  border: none;
  color: rgba(106, 170, 210, 0.82);
  font-weight: 700;
  transition: 0.3s

}

.banner {
  background-image: url("../images/hero-design-image.png");
  background-size: cover;
  padding: 1.5rem 0;
}


.jumbotron img {
max-height: 8rem;
object-fit: contain;
overflow: hidden;
}

.portfolio-banner {
margin: 0;
padding: 1rem;
}

.info-container {
margin: 0;
}

.portfolio-text {
  display: block;
}

.portfolio-text p {
font-size: 0.75rem;
line-height: 1rem;
}

.portfolio-button button {
  padding: 0.5rem;
  font-size: 0.75rem;
  margin: 0.5rem auto;
  width: 8rem;
}

.extras-container {
    max-width: 280px;
    min-width: 280px;
    margin: 2rem auto;
    padding: 1rem 0;

}

.extras-container p {
  font-family: 'Lato', sans-serif;
  font-size: 0.8rem;
  max-width: 100%;
  text-align: center;
  line-height: 1.1rem;
  padding: 1rem 1rem 0 1rem;

}

.extras-container h1 {
  font-size: 1.5rem;
}

.footer p {
  padding: 1rem;

}
