
html {
  font-size: 18px;
}

/*div {
  border: 1px solid black;
}*/


.content {
  max-width: 1750px;
  margin: auto;
}

@media only screen and (max-width: 470px){

  html {
    max-width: 380px;
    margin: auto;
  }

}



h1 {
  font-size: 2.5rem;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bold;
  color: white;

}

.header {
  display: inline-flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}


nav.nav {
  display: inline-block;
  /*border: 1px solid black;*/
}

ul {
  list-style-type: none;
  margin-top: 1rem;
  padding: 0;
}

.nav li {
  display: inline;
}

.site-title {
  display: inline-block;
  width: 350px;
  font-family: 'Julius Sans One', sans-serif;
  color: darkgray;
}

.site-title h2 {
  line-height: 4rem;
}

.nav a {
  text-decoration: none;
  font-size: 1rem;
  font-family: 'Julius Sans One', sans-serif;
  color: darkgrey;
  border-radius: 5px;
  margin-left: 1rem;
  padding: 0.8rem;

}

.nav a:hover {
  text-decoration: none;
  font-size: 1rem;
  border: 1px solid darkgrey;
  border-radius: 15px;
  color: darkgrey;
  transition: 0.5s;

}

.nav a:active {
  text-decoration: none;
  font-size: 1rem;
  background-color: rgb(106, 170, 210);
  color: white;
}





.banner {
  background-image: url("../images/hero-design-image.png");
  background-size: cover;
  min-width: 25rem;
  border: 0.1px solid white;
  top: 6rem;
  display: flex;
}

/*@media only screen and (min-width: 1745px) {
  .image-container img {
    width: 200%;
    height: auto;
    object-fit: cover;
  }*/

.tagline {
  max-width: 40%;
  margin: 20% auto;
  height: 30%;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  color: white;
  padding: 2rem;
  border-radius: 15px;
  background-color: rgba(106, 170, 210, 0.82);
}

iframe {
  border: none;
  margin: auto;
  padding-bottom: 2rem;
  display: block;
}


@media only screen and (min-width: 1479px) {


iframe.medium,
iframe.small,
iframe.tiny,
.redirect {
  display: none;
}

}


@media only screen and (max-width: 1478px) and (min-width: 1244px) {

  iframe.large,
  iframe.small,
  iframe.tiny,
  .redirect {
    display: none;
  }

  }

@media only screen and (max-width: 1243px) and (min-width: 900px) {

  iframe.large,
  iframe.medium,
  iframe.tiny,
  .redirect {
    display: none;
  }

}

@media only screen and (max-width: 899px) and (min-width: 635px) {

  iframe.large,
  iframe.small,
  iframe.medium,
  .redirect {
    display: none;
  }

  .site-title h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  }

  .site-title h1 {
    font-size: 1.5rem;
  }

  }

  @media only screen and (max-width: 634px) and (min-width: 470px){

    iframe.large,
    iframe.small,
    iframe.medium,
    iframe.tiny {
      display: none;
    }

    .site-title h2 {
    font-size: 1rem;
    }

    .site-title h1 {
      font-size: 1.5rem;
    }

    .nav a:hover {
      text-decoration: none;
      font-size: 1rem;
      border: none;
      color: darkgrey;

    }


  }

  @media only screen and (max-width: 469px) {

    iframe.large,
    iframe.small,
    iframe.medium,
    iframe.tiny {
      display: none;
    }


    .site-title h2 {
    font-size: 0.9rem;
    }

    .nav a {
      text-decoration: none;
      font-size: 0.8rem;
      font-family: 'Julius Sans One', sans-serif;
      color: darkgrey;
      border: none;
      margin-left: 0.5rem;
      padding: 0.3rem;

    }

    .nav a:hover {
      text-decoration: none;
      font-size: 0.8rem;
      border: none;
      color: darkgrey;

    }

    }






.info-container {
  /*min-width: 25rem;*/
  margin: 5rem auto;
  max-height: 50rem;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  color: black;
  padding: 2rem;
  border-radius: 15px;
  background-color: white;
}

.info-container h1 {
  color: black;
}

.info-container p {
  font-family: 'Lato', sans-serif;
  max-width: 50%;
  text-align: left;
  line-height: 1.5rem;
  margin: 1rem auto;
}

.info-container img {
  max-width: 200px;
}

@media only screen and (max-width: 550px) and (min-width: 471px){

  h1 {
    font-size: 1.2rem;
    line-height: 2rem;
  }


  h3 {
    font-size: 0.9rem;
  }

  }


@media only screen and (max-width: 470px) {

  h1 {
    font-size: 1rem;
  }

  h3 {
    font-size: 0.7rem;
  }

  .info-container {
    max-height: 2000px!important;
    max-width: 370px!important;
    display: flex;
    flex-direction: column;
  }

  }

.button button {
  padding: 1.5rem;
  font-size: 1.5rem;
  margin: 1rem auto;
  font-family: 'Julius Sans One', sans-serif;
  background-color: rgba(106, 170, 210, 0.82);
  color: rgb(255, 255, 255);
  border-radius: 20px;
  border: 1px solid rgba(106, 170, 210, 0.82);
  border-style: none;
}

.button button:hover {
  background-color: rgb(255, 255, 255);
  color: rgba(106, 170, 210, 0.82);
  border: 1px solid rgba(106, 170, 210, 0.82);
  transition: 0.5s;
}

.button a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.button a:hover {
  color: rgba(106, 170, 210, 0.82);
}
/*footer*/

.footer {
  background-color: rgba(106, 170, 210, 0.82);
}

.footer p {
  padding: 1rem 0.1rem;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 0.7rem;
  font-weight: bold;
}

@media only screen and (max-width: 470px) {

  .footer p {
    padding: 1rem 0.1rem;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 0.5rem;
    font-weight: bold;
    margin-bottom: 0;
  }

  }
