
html {
  font-size: 18px;
}

/*div {
  border: 1px solid black;
}*/


.content {
  max-width: 1600px;
  margin: auto;
}



h1 {
  font-size: 2.5rem;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bold;
  color: white;

}

.header {
  display: inline-flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}


nav.nav {
  display: inline-block;
  /*border: 1px solid black;*/
}

ul {
  list-style-type: none;
  margin-top: 1rem;
  padding: 0;
}

.nav li {
  display: inline;
}

.site-title {
  display: inline-block;
  width: 650px;
  font-family: 'Julius Sans One', sans-serif;
  color: darkgray;
}

.site-title h2 {
  line-height: 4rem;
}

.nav a {
  text-decoration: none;
  font-size: 1rem;
  font-family: 'Julius Sans One', sans-serif;
  color: darkgrey;
  border-radius: 5px;
  margin-left: 1rem;
  padding: 0.8rem;

}

.nav a:hover {
  text-decoration: none;
  font-size: 1rem;
  border: 1px solid darkgrey;
  border-radius: 15px;
  color: darkgrey;
  transition: 0.5s;

}

.nav a:active {
  text-decoration: none;
  font-size: 1rem;
  background-color: rgb(106, 170, 210);
  color: white;
}





.banner {
  background-image: url("../images/hero-design-image.png");
  background-size: cover;
  min-width: 25rem;
  border: 0.1px solid white;
  top: 6rem;
  display: flex;
}


.tagline {
  max-width: 75rem;
  margin: 22rem auto;
  height: 30%;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  color: white;
  padding: 2rem;
  border-radius: 15px;
  background-color: rgba(106, 170, 210, 0.82);
}




.jumbotron img {
  max-height: 30rem;
  object-fit: contain;
  margin: auto;
  padding: 0;

}

.jumbotron.slick-slide {
  margin-bottom: 0;
  margin-top: 2rem;
}

.jumbotron {
  background-color: rgba(106, 170, 210, 0);
  padding: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}



.info-container {
  max-width: 75rem;
  max-height: 65rem;
  margin: 2rem auto;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  color: black;
  padding: 1rem;
  border-radius: 15px;
  background-color: rgba(106, 170, 210, 0.5);
}

.info-container h1 {
  color: black;
  font-size: 1.2rem;
}

.info-container p {
  font-family: 'Lato', sans-serif;
  text-align: left;
  line-height: 1.5rem;
  margin: 1rem auto;
}

.extras-container {
  max-width: 75rem;
  margin: 20rem auto;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  color: black;
  padding: 2rem;
  border-radius: 15px;
  background-color: white;
  opacity: 0.8;
}

.extras-container h1 {
  color: black;
}

.extras-container p {
  font-family: 'Lato', sans-serif;
  max-width: 50%;
  text-align: left;
  line-height: 1.5rem;
  margin: 1rem auto;
}

.portfolio-text  {
  text-align: left;
  background-color: white;
  margin: 2rem 0;
  padding: 1rem;
  border-radius: 10px;
  max-height: 40rem;
}

.portfolio-text h1,
.portfolio-text p {
  text-align: left;
  padding-left: 0;
  margin-left: 0;
  font-size: 0.75rem;
  width: 100%;
}


button {
  padding: 0.1rem;
  font-size: 1rem;
  margin: 0.5rem auto;
  width: 12rem;
  font-family: 'Julius Sans One', sans-serif;
  background-color: rgba(106, 170, 210, 0.82);
  color: rgb(255, 255, 255);
  border-radius: 20px;
  border: 1px solid rgba(106, 170, 210, 0.82);
  border-style: none;
}

.portfolio-button button {
  padding: 0.1rem;
  font-size: 0.75rem;
  margin: 0.5rem auto;
  width: 15rem;
  font-family: 'Julius Sans One', sans-serif;
  background-color: rgba(106, 170, 210, 0.82);
  color: rgb(255, 255, 255);
  border-radius: 20px;
  border: 1px solid white;
  border-style: none;
}

button:hover {
  background-color: rgb(255, 255, 255);
  color: rgba(106, 170, 210, 0.82);
  border: 1px solid rgba(106, 170, 210, 0.82);
  transition: 0.5s;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:hover {
  color: rgba(106, 170, 210, 0.82);
}
/*footer*/

.footer {
  background-color: rgba(106, 170, 210, 0.82);
}

.footer p {
  padding: 1rem 0.1rem;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 0.7rem;
  font-weight: bold;
}
